<div class="text-center mb-2">Create New Programme
</div>
<div class="d-flex container justify-content-center mb-5 align-items-center p-2 border shadow w-50 h-100">

        <div class=" flex-column col-12 w-100 small mt-2 mb-3">
    <form [formGroup]="dform" (ngSubmit)="onSubmit()">
       
              <div class="form-group">
            <label class="w-100  ">
                Change Reference
                <input class="form-control  w-100 mt-1" type="text" formControlName="change_ref" required>
            </label>
        </div>
        <div class="form-group">
            <label class="w-100 ">
                Title
                <input class="form-control w-100 mt-1" type="text" formControlName="title" required>
            </label>
            </div>
            
        <div class="form-group">
            <label class="w-100 ">
                SAP Codes
                <input class="form-control w-100 mt-1" type="text">
            </label>
            </div>
            
        <div class="form-group">
            <label class="w-100 ">
                Project / Programme Pitch
                <textarea class="form-control w-100 mt-1" style="    height: auto;" placeholder="Enter your text.." rows="2"></textarea>
            </label>
        </div>
            <div class="d-flex flex-row ">
                <div class="flex-column p-0 pr-4 col-6">
                    <div class="form-group">
                        
                    <label class="w-100 ">
                        Change Owner
                        <input class="form-control w-100 mt-1" type="text" formControlName="change_own" required>
                    </label>
                </div>
                </div>
                <div class="flex-column p-0  col-6">
                        <div class="form-group"> <label class="w-100 ">
                        Cost (Estimate)
                        <input class="form-control w-100  mt-1" type="text">
                    </label></div>
                </div>
            </div>

            <div class="d-flex flex-row mb-1 ">
                <div class="flex-column p-0 pr-4 col-6">
                        <div class="form-group">
                    <label class="w-100 mb-1 ">
                        Start Date</label>
                        <my-date-picker class=" w-100" placeholder="DD/MM/YYYY" name="startdate" 
                        [options]="myDatePickerOptions" [(ngModel)]="model1" formControlName="startdate" required></my-date-picker>
                      </div>
                </div>
                <div class="flex-column p-0 col-6">
                        <div class="form-group">  
                            <label class="w-100 mb-1">
                        Estimated End Date </label>
                        <my-date-picker class=" w-100 " placeholder="DD/MM/YYYY" name="enddate" 
                        [options]="myDatePickerOptions" [(ngModel)]="model" formControlName="enddate" required></my-date-picker>
                   </div>
                </div>
            </div>
            <label class="w-100 ">
                Financial Benefits</label>
            <div class="d-flex flex-row p-0 text-muted">

                <label class="flex-column col-6 w-100 mr-1 p-0">
                    Description</label>
                <label class="flex-column col-3 w-100 mr-1 p-0">
                    Benefit Value</label>
                <label class="flex-column col-2 w-100 p-0">
                    Status</label>
            </div>
           <div formArrayName="financial_benifits">
               <div *ngFor="let item of FinancialBenifits.controls; let pointIndex=index" [formGroupName]="pointIndex">
                    <div class="d-flex flex-row mt-1 ">
                        <input class="form-control  flex-column col-6 w-100  mr-1" type="text">
                        <input class="form-control flex-column col-3 w-100  mr-1 " type="text">
                        <input class="form-control flex-column col-2 w-100  mr-1 " type="text">
                        <div (click)="deleteFinancialBenifit(pointIndex)" class="text-center col-1"><i class=" fa fa-trash"
                                aria-hidden="true"></i></div>
                    </div>
                </div>
                <div (click)="addFinancialBenifit()" class="mb-3 mt-2"><i class="fa fa-plus mr-1"></i>
                    Add Benefit</div>
            </div>
            <button type="submit"  (click)="onSubmit()" class="btn float-right text-white">+Create</button>
        
    </form>
</div>
</div>